%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      - if current_user
        %li{class: is_active(params[:action], 'users')}
          =  link_to user_path(current_user) do
            %i.fa.fa-user
            %span Profile
      - elsif current_sponsorer
        %li{class: is_active(params[:action], 'sponsorers')}
          =  link_to sponsorer_path(current_sponsorer) do
            %i.fa.fa-user
            %span Profile